@import "./color";

// Global Spacing Variables
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Padding Variables
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// Margin Variables
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;

// Global Reset and Typography
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Headings// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-primary;
  font-weight: bold;
}

h2,
h3 {
  color: $heading-secondary;
}

h4,
h5,
h6 {
  color: $heading-accent;
}

// Text
p,
li,
span {
  color: $text-primary;
  line-height: 1.5;
}

.text-muted {
  color: $text-muted;
}

.text-placeholder {
  color: $placeholder-text;
}

// Links
a {
  color: $link-default;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    color: $link-hover;
  }
}

// Inverted text (for light background sections)
.inverted-text {
  color: $inverted-text;
}

// mixins

@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin limitNoOfLines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
