.appContainer {
  background-color: $primary-darker;
  width: 100%;
  padding: 10px;
  .mainComponent {
    background-color: $primary-darkest;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    position: relative;
  }
}
